
body, html{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    margin: auto;
    /* background-color: rgb(136, 174, 107); */
    background-image: url("Pictures/fruits5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: scroll;
  }
  /* body{
    margin-right: auto;
    margin-left: auto;
  } */
  
  @media(min-width: 800px){
    .UI{
        max-width: 750px;
    }
  }

  .UI{
    padding: 30px 60px 30px 60px;
    opacity: 0.90;
    border-radius: 6px;
    margin: 0.5rem auto 0 auto;
  }

  
  #Survey-Title{
    font-family: calibri;
    font-weight: bold;
    color: rgb(38, 38, 38);
    text-shadow: 3px 3px 6px grey;
    font-weight: bold;
    font-size: 400%;
    font-stretch: expanded;
    margin-bottom: 20px;
  }
  
  .centered{
    text-align: center;
  }
  
  h3{
    font-weight: bold;
    font-size: 170%;
  }
  
  .Selections{
    font-size: 140%;
    font-style: italic;
  }
  
  input[type=checkbox]{
    border-radius: 4px;
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    color: yellow;
  }
  
  .Diet{
    font-size: 130%;
  }
  
  .Add{
    font-size: 110%;
    font-weight: bold;
    color: rgb(44, 44, 44);
    display: block;
    width: 50%;
    border-radius: 5px;
    border: 2px solid gold;
    background-color: gold;
    padding: 5px 5px;
    cursor: pointer;
    text-align: center;
    align-items: center;
    margin: auto;
  }
  .Order{
    font-size: 110%;
    font-weight: bold;
    color: rgb(44, 44, 44);
    display: block;
    width: 35%;
    border-radius: 5px;
    border: 2px solid gold;
    background-color: gold;
    padding: 5px 5px;
    cursor: pointer;
    text-align: center;
    margin: auto;
  }
  .Go{
    font-size: 110%;
    font-weight: bold;
    color: rgb(44, 44, 44);
    display: block;
    width: 35%;
    border-radius: 5px;
    border: 2px solid rgb(209, 209, 209);
    background-color: rgb(213, 213, 213);
    padding: 5px 5px;
    cursor: pointer;
    text-align: center;
    margin: auto;
  }
  
  .Back{
    font-size: 110%;
    font-weight: bold;
    color: rgb(200, 200, 200);
    display: block;
    width: 35%;
    border-radius: 5px;
    border: 2px solid rgb(200, 200, 200);
    background: rgba(38, 38, 38, 0.9);
    padding: 5px 5px;
    cursor: pointer;
    text-align: center;
    margin: auto;
  }
  
  .Cart{
    font-size: 130%;
  }
  
  #Liam-Signature{
    font-style: oblique;
    font-weight: bold;
    font-size: 125%;
    color: black;
    text-shadow: 1px 1px 2px rgb(89, 89, 89);
  }
    
  /* Style the tab content */
  
  .tabcontent {
      background: rgba(38, 38, 38, 0.9);
      display: none;
      padding: 30px 70px;
      border-radius: 15px;
      border-top: none;
      color: #dddddd;
      font-family: Calibri;
      border: 1px solid rgb(103, 118, 91);
  }
  
  /*new code from W3 tools*/

   body {
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(38, 38, 38);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    font-family: calibri;
    font-weight: bold;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 30px;
    color: #a9a9a9;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 50px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  #Menu-button{
    font-family: calibri;
    font-weight: bold;
    color: rgb(38, 38, 38);
    text-shadow: 2px 2px 4px grey;
    font-weight: bold;
    font-stretch: expanded;
  }