body, html{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: url("Pictures/WS-Picture.jpg");
    filter: grayscale(100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.survey{
    background-color: grey;
    opacity:0.5;
    border-radius: 5px;
    padding: 20px 20px 800px 30px;
}
